* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --background: #292929;
    --background2:#f8f8f8;
    --popcolor: #8dee5c;
    --fontcolor: rgb(39, 39, 39);
    --welcome:rgb(242, 237, 233);
    /* --welcome:rgb(234, 234, 234); */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(26, 26, 26);
}

.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#cornerbtn{
    background-color: var(--popcolor);
    border-radius:30px;
}

.bold {
    padding-left: 15px;
}

.nav-item {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0 20px 0 0;
    color: rgb(248, 248, 248);
    font-weight: normal;
    font-size: 18px;
    float: right;
    display: inline-flex;
    background-color: rgb(26, 26, 26);
}

.footer {
    background-color: rgb(26, 26, 26);
    overflow: hidden;
    color: rgb(248, 248, 248);
    display: flex;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.logo {
    color: rgb(248, 248, 248);
    list-style-type: none;
    display: inline;
    margin: 0;
}

.nav-item2 {
    list-style-type: none;
    margin: 0px 20px 0px 0px;
    padding: 0 20px 0px 0px;
    color: rgb(248, 248, 248);
    font-weight: normal;
    font-size: 18px;
    display: inline-flex;
}

#logo {
    margin: 0px 0px 0px 0px;
}

.item3 {
    padding-right: 5vw;
}

#copyright {
    margin-right: 10vw;
    margin-left: -20vw;
}

.welcome {
    background-color: rgb(252, 252, 252);
}
.hero-info{
    text-align: left; 
    height: 80vh;
    width: 100vw; 
}
#hero-pic{
    /* width: 400px; */
    width: 450px;
    height: 525px;
    position: absolute;
    /* right: 12%; */
    right: 8%;
    margin-top: -17%;
}

#title {
    color: var(--background);
    font-size: 37.5px;
    width: 700px;
    padding:130px 0px 0px 100px;

}

.values {
    display: inline-flex;
    margin: 30px 100px;
    width: 75%;
    font-size: 17px;
}

.values2 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.value1 {
    color: var(--background);
    width: 200px;
    /* font-weight: bolder; */
    /* -webkit-text-stroke: .3px var(--fontcolor); */
    /* text-shadow: 0 0 10px #000000; */
}

.fa-check-double {
    color: var(--popcolor);
    margin-right: .5vw;
}

.cardinfo {
    padding: 15px;
    color: var(--fontcolor);
}

.card {
    border: none;
    max-width: 300px;
    min-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: rgb(252, 252, 252);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 2px lightgray;
}
.testimonial{
    border: none;
    max-width: 300px;
    min-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: var(--welcome);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 2px lightgray;
}
.testpics{
    width: 40px;
}
.getstarted {
    background-color: var(--background);
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
   position:absolute;
   left: 22%;
   margin-top: -13%;
   color: rgb(248, 248, 248);
}


.getstarted:hover {
    background-color: var(--popcolor);
    color: var(--background);
    border: solid 2px rgb(248, 248, 248);
}

.getstarted2 {
    background-color: var(--background);
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: var(--background2);
    margin-top: 5vh;
    margin-bottom: 7vh;
}
.getstarted2:hover {
    background-color: var(--popcolor);
    color: var(--background);
}

a {
    text-decoration: none;
    color: var(--background);
}

.whatismj {
    background-color: var(--welcome);
    padding-bottom: 40px;
}

.catch {
    text-align: center;
    padding: 80px 80px 0px 80px;
}
.holistic{
    font-size: 27.5px;
}

.catch2 {
    text-align: center;
    /* border: solid 2px var(--fontcolor); */
    background-color: var(--background2);
    color: var(--background);
    padding-bottom: 80px;
}
.padding{
    padding-bottom: 100px;
}

.catch3 {
    padding: 50px 0px 30px 0px;
    margin: 0px 200px;
    font-size: 17px;
}

.notsure {
    background-color: var(--background2);
    color: var(--background);
    border-radius: 3px;
    padding: 10px;
    margin: 0px 250px;
    box-shadow: 2px 2px 2px lightgray;
}

.catch4 {
    padding: 30px 0px;
    margin: 0 300px;
    text-align: center;
    font-size: 17px;
}

.card3 {
    display: inline-flex;
    margin: 0 0 5px 22px;
    padding: 0;
}
.shoe{
    width: 80px;
    margin-left: 37%;
    margin-top: 20px;
}
.clipboard{
    height: 78px;
    width: 65px;
    margin-left: 39%;
}
.cardtop {
display: flex;
width: 100%;
justify-content: center;
}
.homeicons{
    height: 200px;
    margin: 40px 0px;
}
#iphone{
    margin-left: 5px;
}
.card2 {
    margin: 40px 50px 40px 50px;
    text-align: left;
    padding: 20px;
    color: var(--fontcolor);
    background-color: var(--welcome);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 2px lightgray;
    width: 800px;
}

.note1 {
    padding-left: 23px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.icon {
    color: var(--popcolor);
    font-size: 20px;
    padding-right: 5px;
}

.cardinfo {
    padding: 15px;
    color: var(--fontcolor);
    font-size: 16px;
}
.testimonialinfo {
    padding: 15px 15px 0px 15px;
    color: var(--fontcolor);
    font-size: 16px;
}
.greenbck{
    border: var(--popcolor) 5px double;  
}

.homepics {
    height: 55vh;
}

#view-services {
    margin-top: 50px;
    font-size: 18px;
    color: var(--background2);
    padding: 10px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 30px;
    border: none;
}

#view-services:hover {
    background-color: var(--popcolor);
    color: var(--background);
    border: solid 2px var(--welcome);
}

.howtogetstarted {
    background-color: var(--welcome);
    color: var(--fontcolor);
    padding-bottom: 20vh;
    padding: 5vh;
    text-align: center;
}
.team{
    text-align: left;
}

.start {
    text-align: center;
    margin-left: 60px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bgcolor{
    background-color: var(--welcome);
}
.numbers {
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    color: var(--popcolor);
    max-width: 300px;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow: 2px 2px 2px lightgray;
    background-color: var(--background2);
}

.numbers:hover {
    transform: scale(1.1);
    /* border: solid 2px var(--popcolor); */
    border-radius: 10px;
}

.number {
    list-style-type: none;
    font-size: 16px;
    color: var(--fontcolor);
    text-align: left;
    padding: 0px 10px 0px 0px;
}

.number1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--fontcolor);
    margin: 0;
    padding: 0;
}

.bignumbers {
    font-size: 18vh;
    float: left;
    font-weight: bolder;

}

.context-number {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    margin-top: 4.5vh;
    margin-left: 2vw;
}

.bold {
    font-weight: bolder;
    color: rgb(39, 39, 39);
}

.bold2 {
    color: var(--background);
    font-size: 27.5px;
}

.info {
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.about {
    padding-right: 30%;
    text-align: center;
    color: var(--background);
}

#name {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}


#hr {
    margin-left: 175px;
}

.awc {
    width: 325px;
    float: right;
    margin-top: 25vh;
    margin-right: 6%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
    border: var(--popcolor) 5px double;
}

.bio {
    margin: 0;
    padding: 0;
    /* display: flex;
   word-wrap: wrap; */
}

#bio {
    text-indent: 30px;
    margin-left: 6.5vw;
    margin-top: 10px;
    width: 55%;
    font-size: 17px;
    padding: 20px;
    background-color: var(--background2);
    box-shadow: 2px 2px 2px lightgray;
}

.onlinelinks {
    display: inline-flex;
    list-style-type: none;
    font-size: 30px;
    width: 50%;
    height: auto;
    margin: 10px 30px 20px 40px;
}

#linkedin {
    padding-left: 30px;
}

#cscs {
    padding-left: 30px;
}

.overview {
    text-align: center;
    margin: 30px 40px 0px 40px;
    font-size: 18px;
}
.overview2{
    font-size: 18px;
}

.books {
    color: var(--background);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.l1 {
    padding-top: 20px;
}

#mobility {
    background-image: url("https://plus.unsplash.com/premium_photo-1674421795177-eadfb18a27c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#posture {
    background-image: url("https://images.unsplash.com/photo-1609899517237-77d357b047cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#HIIT {
    background-image: url("https://images.unsplash.com/photo-1620371350502-999e9a7d80a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=370&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#full {
    background-image: url("https://images.unsplash.com/photo-1517963879433-6ad2b056d712?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#online {
    background-image: url("https://images.unsplash.com/photo-1648542036561-e1d66a5ae2b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#running {
    background-image: url("https://plus.unsplash.com/premium_photo-1669021454422-4f74eb6877e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.programs1 {
    margin: 10px 20px 30px;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 50%;
    height: 300px;
    width: 300px;
   box-shadow: 0px 2px 2px gray;
}
.programtitle{
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
    color: var(--fontcolor);
}

.programs1:hover {
    transform: scale(1.1);
    font-size: 16px;
}

.mobilityflexibility {
    margin: 0;
    padding-bottom: 20vh;
   
}

#mobilityflexibility1 {
    font-size: 30px;
    padding: 25px 0px 30px 0px;
}

.mfoptions {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.full {
    margin-top: 0px;
}
.moreinfo{
    color: var(--background2);
    background-color: var(--background);
    border: none;
    border-radius: 30px;
    padding: 10px;
}
.moreinfo:hover {
    transform: scale(1.03);
    color: black;
    background-color: #8dee5c;
}

.return {
    display: flex;
}

#back {
    border-radius: 30px;
    padding: 5px 10px;
}

#back2 {
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 20px;
    font-size: 18px;
    color: var(--fontcolor);
    border: var(--fontcolor) 1px solid;
}

.mfoptions0 {
    border-radius: 5px;
    width: 30vw;
    height: 450px;
    background-color:var(--background2);
    justify-content: center;
    color: var(--background);
    box-shadow: 2px 2px 2px lightgray;
}
.mfoptions0:hover {
    box-shadow: 0 0 10px var(--popcolor);
}

.fullbody{
    height: 500px;
}

.mfoptions02 {
    border: solid 2px var(--fontcolor);
    border-radius: 10px;
    margin: 25px;
    width: 35vw;
    background-color: #c5e8de;
    justify-content: center;
    height: 100vh;
}


.mfoption1,
.mfoption2,
.mfoption3 {
    color: var(--fontcolor);
    font-weight: bold;
    font-size: 20px;
    width: 25vw;
    height: 20vh;
    margin-top: 0px;
    padding-top: 5vh;
}

.mfoptions12 {
    display: block;
    margin: 0 25px 0 0px;
    padding-top: 35px;
    font-size: 16px;
    text-align: center;
    color: var(--fontcolor);
}

.mfoptions1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 
.blog {
    margin: 0;
    padding: 0 10vw 10vh 10vw;
}

.blog-title {
    color: var(--background);
    text-align: center;
    padding-top: 5vh;
}

.blogposts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 10px 0px 50px 0px;
    background-color: rgb(35, 35, 35, 0.8);
    border-radius: 10px;
    border: 1px var(--popcolor) solid;
}

.blogpost {
    width: 70vw;
    margin-top: 5vh;
    padding: 2vh;
    color: rgb(248, 248, 248);

}

.blogpost:hover {
    transform: scale(1.02);

} */


.contactinfo {
    display: flex;
    justify-content: space-between;
    margin: 10vh;
    align-items: center;
}

.form {
    padding: 50px;
    border-radius: 8px;
    background-color: var(--background2);
    box-shadow: 2px 2px 2px lightgray;
}


.row {
    margin: 10px;
}

.contactme {
    border-radius: 8px;
    padding: 20px;
    background-color: var(--background2);
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 5px;
    text-align: center;
}

#formbtn {
    border-radius: 30px;
    background-color: var(--background);
    color: var(--background2);
    width: auto;
    padding: 5px 10px;
    border: none;
}

#homequizbtn {
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--background);
    width: auto;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 30px;
    color: var(--background2);
}
#homequizbtn:hover{
    background: var(--popcolor);
    color: var(--background);
    /* border: solid 2px rgb(248, 248, 248); */
}

.question {
    font-weight: bold;
}

.thanks {
    padding-top: 8px;
}

.contactlist {
    list-style-type: none;
}

#name2 {
    font-size: 17px;
    color: var(--fontcolor);
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 30vw;
}

#email {
    width: 30vw;
    font-size: 17px;
}

.program-info-list {
    text-align: left;
    padding-top: 3vh;
}

.program-card {
    border-radius: 10px;
    background-color: var(--background2);
    width: 50vw;
    padding: 3vh;
    margin: 2.5vh;
    color: var(--background);
    box-shadow: 2px 2px 2px lightgray;
}
.bottom{
   padding-bottom: 15vh;
}

#quizcard2{
    display: flex;
    justify-content: center;
    margin: 3vh;
}
.program-card2 {
    border-radius: 10px;
    background-color: var(--background2);
    width: 70vw;
    padding: 5vh;
    /* margin: 3vh; */
    color: var(--fontcolor);
    display: none;
    box-shadow: 2px 2px 2px lightgray;
}

.form-boxes {
    list-style-type: none;
}

.contactforms1 {
    width: 55vw;
    background-color: var(--background2);
    /* background-color: rgba(164, 164, 164, 0.8); */
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgray;
    padding: 20px;
}

.contactforms1 h2 {
    text-align: center;
}

.signup {
    padding: 5vh 20px 20vh 20px;
    display: flex;
    justify-content: center;
    color: var(--fontcolor);
    text-align: left;
}


.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-box {
    box-shadow: 2px 2px 2px gray;
    color: var(--background2);
    text-shadow: 2px 2px 8px lightgray;
    height: 30vh;
    width: 30vw;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    font-size: 20px;
    background-image: url("/Pictures/foamrolling2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(65%);
}

#video-box2 {
    background-image: url("/Pictures/foamrolling1.jpg");
}

#deadlift {
    background-image: url("/Pictures/Deadlift.jpg");
}

#squat {
    background-image: url("/Pictures/Squat.jpg");
}

#hipthrust {
    background-image: url("/Pictures/hipthrust.png");
}

#pullup {
    background-image: url("/Pictures/pullup.jpg");
}

#lunge {
    background-image: url("/Pictures/Lunge.jpg");
}

#chestpress {
    background-image: url("/Pictures/chestpress.jpg");
}

#core {
    background-image: url("/Pictures/core.jpg");
}

#landmine {
    background-color: whitesmoke;
}

#shoulder {
    background-image: url("/Pictures/Shoulder.jpg");
}

.hide {
    display: none;
    color: var(--popcolor);
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: grayscale(0%);
}

.video-box:hover {
    color: var(--popcolor);
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: grayscale(0%);
    padding-top: 5vh;
}

.video-box:hover .hide {
    display: block;
}

.hiitoption {
    margin-top: 10vh;
}

#pdfbtn {
    color: var(--background2);
}
#pdfbtn:hover{
    color: var(--background);
}

#return {
    padding-bottom: 20vh;
    padding-top: 0px;
    text-align: center;
}

.returnbtn {
    background-color: var(--background);
    padding: 10px;
    color: var(--background2);
    border-radius: 30px;
    border: none;
    position: absolute;
    left: 5%;
}
.viewservicesbtn{
    position: relative;
    left: 0%;
}

.returnbtn:hover {
    background-color: var(--popcolor);
    color: var(--background);
}

#formbtn:hover {
    transform: scale(1.05);
    background-color:var(--popcolor);
    color: var(--background);
    box-shadow: 2px 2px 2px lightgray;
}

.quizbtn {
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--background);
    width: auto;
    color: var(--background2);
    padding: 5px 10px;
}

.quizbtn:hover {
    background-color: var(--popcolor);
    color: var(--background);
}

.clipboardpic {
    width: 300px; 
    height:300px;
    border: 2px var(--popcolor) double;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
}

#quizbtns {
    font-size: 18px;
    background-color: rgb(218, 242, 204);
    color: var(--background);
    display: block;
    margin: 10px;
    text-align: left;
    border: none;
    box-shadow: 2px 2px 2px lightgray;
}

#quizbtns:hover {
    background: var(--popcolor);
    color: var(--fontcolor);
}

#start-quiz {
    margin: 18vh;
    padding: 10px 15px;
    font-weight: bolder;
}

#restartbtn {
    background-color: var(--background);
    color: var(--background2);
    box-shadow: 2px 2px 2px lightgray;
    background-color: var(--background);
    padding: 10px;
    color: var(--background2);
    border-radius: 30px;
    border: none;
}

#restartbtn:hover {
    background: var(--popcolor);
    color: var(--background);
}

.question-text {
    font-size: 30px;
}

.final-results {
    display: none;
}

#view-program {
    border: var(--fontcolor) 2px solid;
}

#view-program:hover {
    border: 2px solid rgb(248, 248, 248);
    background-color: rgb(160, 160, 160);
    color: rgb(248, 248, 248);
}

.blogs {
    text-align: center;
    margin: 30px;
    margin-bottom: 5vh;
    padding: 30px;
    border: solid 2px lightgray;
    background-color: whitesmoke;
    border-radius: 10px;
}

#blog-date {
    margin-left: 30px;
    text-align: left;
    margin-right: 15px;
}

#blog-post {
    text-align: left;
    text-indent: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#curry {
    width: 20vw;
    border-radius: 50%;
    border: var(--fontcolor) solid 2px;
}

.balance {
    border-radius: 10%;
    border: var(--fontcolor) solid 2px;
}

#balance1 {
    width: 20vw;
}

#balance2 {
    width: 15vw;
    position: absolute;
    right: -10vw;
    top: 10vh;

}

.balanceImages {
    position: relative;
    float: right;
    display: flex;
    justify-content: right;
    margin-right: 10vw;
    padding-left: 20px;
}

@media screen and (max-width: 1150px) {
    .navbar {
        display: block;
        width: 185px;
        padding: 0;
        margin: 0;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background-color: rgb(26, 26, 26);
    }

    .nav-item {
        margin: 0;
        padding: 0;
        font-size: 20px;
        display: block;
        width: 200px;
        height: 70px;
    }

    #company {
        padding-top: 20px;
    }

    .footer {
        z-index: 1;
        height: 10vh;
    }

    .logo {
        padding-top: 18px;
        color: rgb(248, 248, 248);
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 15px;
        padding-left: 25vw;
    }

    .nav-item2 {
        margin: 0px 20px 0px 0px;
        padding: 0 5px 0px 0px;
        font-size: 15px;
        display: inline-flex;
    }

    .welcome {
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        padding-bottom: 12vh;
    }

    #title {
        margin: 0vh 0vw 0vh 20vw;
        padding-top: 15%;
        font-size: 35px;
        width: 75vw;
    }

    .values {
        margin-left: 20vw;
    }

    .values2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardinfo {
        font-size: 18px;
    }

    .whatismj {
        padding-left: 15vw;
    }

    .getstarted {
        margin-left: 15vw;
    }

    .catch2 {
        margin-left: 215px;
        width: 75vw;
        padding: 30px;
    }

    .howtogetstarted {
        padding-left: 20vw;

    }

    .contactinfo {
        justify-content: space-evenly;
        margin: 10vh 4vw 10vh 10vw;
    }

    .mfoptions12 {
        padding-top: 25px;
    }

    .mfoptions0 {
        width: 35vw;
    }

    .return {
        margin-left: 10px;
    }

    .blog {
        padding-left: 25vw;
    }

    .blogpost {
        width: 60vw;
    }

    .awc {
        margin-top: 2vh;
        margin-right: 0%;
    }

    .bio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #bio {
        margin: 5vh 6.5vw;
        width: 65vw;
    }

    .about {
        padding-top: 20px;
        padding-top: 20px;
        padding-right: 0px;
        text-align: center;
    }

    .difference2 {
        padding-left: 18.5vw;
    }
}

@media screen and (max-width: 900px) {
    #title {
        margin: 0vh 0vw 0vh 28vw;
        padding-top: 15%;
        font-size: 35px;
        width: 65vw;
    }

    .values {
        margin-left: 22.5vw;
    }

    .getstarted {
        margin-left: 20vw;
    }

    .whatismj {
        padding-left: 20vw;
    }

    .catch4 {
        width: 60vw;
        margin-left: 11.5vw;
    }

    .catch2 {
        margin-left: 28vw;
        width: 65vw;
        padding: 30px;
    }

    .howtogetstarted {
        padding-left: 22vw;
    }

    .contactme {
        display: none;
    }

    .form {
        padding: 20px;
    }

    .contactinfo {
        margin: 10vw;
    }

    .mfopt {
        display: none;
    }

    .mfoptions0 {
        height: 40vh;
    }

    .mfoption1 {
        font-size: 18px;
    }

    .hiitTypes {
        width: 275px;
        margin-left: 10vw;
    }

    #hiitTypes {
        height: 200px;
    }

    .hiitoption {
        margin-top: 3vh;
    }

    .program-card {
        margin-left: 8vw;
    }

    .video-box {
        height: 25vh;
    }

    .blog {
        padding-left: 30vw;
    }

    .blogpost {
        width: 50vw;
    }

    .difference2 {
        padding-left: 22vw;
    }
}

@media screen and (max-width: 768px) {
    #title {
        margin: 0vh 0vw 0vh 35vw;
        padding-top: 15%;
        font-size: 30px;
        width: 55vw;
    }

    #company {
        font-size: 27px;
    }

    .value1 {
        font-size: 17.5px;
    }

    .values {
        margin-left: 26.5vw;
    }

    .whatismj {
        padding-left: 25vw;
    }

    .bold {
        font-size: 22.5px;
    }

    .catch4 {
        font-size: 19px;
        width: 60vw;
        margin-left: 8.5vw;
    }

    .homepics {
        display: none;
    }

    .card {
        margin-right: 10vw;
    }

    .catch2 {
        margin-left: 35vw;
        width: 55vw;
        padding: 30px;
    }

    .catch3 {
        font-size: 18px;
    }

    .note1 {
        display: none;
    }

    .howtogetstarted {
        padding-left: 25vw;
    }

    .number {
        font-size: 16px;
    }

    .number1 {
        font-size: 22px;
    }

    .bignumbers {
        font-size: 15vh;
    }

    .moreinfo {
        margin-top: 5vh;
    }

    .video-box {
        width: 40vw;
        font-size: 16px;
        height: 25vh;
    }

    .blog {
        padding-left: 35vw;
    }

    .blogpost {
        width: 40vw;
    }

    .difference2 {
        padding-left: 24vw;
    }

    .balance {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #title {
        margin: 0vh 0vw 0vh 40vw;
        padding-top: 15%;
        font-size: 25px;
        width: 55vw;
    }

    .values {
        display: none;
    }

    .getstarted {
        margin-top: 15vh;
        margin-left: 35vw;
    }

    .welcome {
        height: 70vh;
    }

    .whatismj {
        padding-left: 30vw;
    }

    .bold {
        font-size: 20px;
    }

    .catch4 {
        font-size: 18px;
        width: 50vw;
        margin-left: 11.5vw;
    }

    .homepics {
        display: none;
    }

    .card {
        max-width: 225px;
        min-width: 225px;
        margin-right: 15vw;
    }

    .catch2 {
        margin-left: 40vw;
        width: 55vw;
        padding: 30px;
    }

    .cardtop {
        font-size: 15px;
    }

    .howtogetstarted {
        padding-left: 32vw;
    }

    .numbers {
        max-width: 250px;
        padding-left: 10px;
    }

    .library {
        padding-right: 2vw;
    }

    .programs1 {
        height: 250px;
        width: 250px;
    }

    .contact {
        padding-left: 36vw;
    }

    #name2 {
        font-size: 13px;
        width: 40vw;
    }

    #email {
        font-size: 13px;
        width: 40vw;
    }

    .contactinfo {
        margin-left: 8vw;
    }

    .mfoption1 {
        font-size: 16px;
        margin: 0;
        padding: 10px;
    }

    .mfoptions0 {
        height: 35vh;
    }

    .overview {
        display: none;
    }

    .program-info-list img {
        display: none;
    }

    .video-box {
        width: 50vw;
    }

    .blog {
        padding-left: 45vw;

    }

    .blogpost {
        width: 33.5vw;
    }

    #mobilityflexibility1 {
        margin-left: 15px;
    }

    .awc {
        width: 265px;
        height: 400px;
    }

    #name {
        font-size: 25px;
    }

    .blog-title {
        font-size: 25px;
    }

    .difference2 {
        padding-left: 32vw;
    }
}