* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --background: #292929;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(26, 26, 26);
}

.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.bold {
    padding-left: 15px;
}

.nav-item {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0 20px 0 0;
    color: white;
    font-weight: normal;
    font-size: 18px;
    float: right;
    display: inline-flex;
    background-color: rgb(26, 26, 26);
}

.footer {
    background-color: black;
    overflow: hidden;
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.logo {
    color: white;
    list-style-type: none;
    display: inline;
    margin: 0;
}

.nav-item2 {
    list-style-type: none;
    margin: 0px 20px 0px 0px;
    padding: 0 20px 0px 0px;
    color: white;
    font-weight: normal;
    font-size: 18px;
    display: inline-flex;
}

#logo {
    margin: 0px 0px 0px 0px;
}

.item3 {
    padding-right: 5vw;
}

#copyright {
    margin-right: 10vw;
    margin-left: -20vw;
}


.welcome {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-bottom: 12vh;
    text-align: center;
}

#title {
    margin: 0px 100px 0px 100px;
    padding-top: 15%;
    color: rgb(254, 254, 254);
    text-shadow: 0 0 12px #000000;
    font-size: 50px;
    -webkit-text-stroke: .5px black;
}

.values {
    display: inline-flex;
    margin: 30px 180px;
    width: 75%;
    font-size: 17px;
}

.values2 {
    display: inline-flex;
    justify-content: center;
    width: 90%;
    font-size: 17px;
    margin: 30px 60px 0px;
    padding-bottom: 30px;
}

.value1 {
    padding: 30px;
    font-size: 22.5px;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: .3px black;
    text-shadow: 0 0 10px #000000;
}

.fa-check-double {
    color: yellow;
    margin-right: .5vw;
}

.cardinfo {
    padding: 15px;
    color: black;
    font-size: 20px;
}

.card {
    border: solid 0.5px black;
    max-width: 300px;
    min-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: darkgray;
    border-radius: 3px;
    box-shadow: 5px 5px gray;
    overflow: hidden;
    box-shadow: 10px 10px 5px gray;
}

.getstarted {
    background-color: yellow;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: black;
}

.getstarted:hover {
    background: transparent;
    color: white;
    border: solid 2px white;
}

.getstarted2:hover {
    background: transparent;
    color: white;
    border: solid 2px white;
}

.getstarted2 {
    background-color: yellow;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: black;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

a {
    text-decoration: none;
    color: white;
}

.whatismj {
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catch {
    text-align: center;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.catch2 {
    text-align: center;
    margin: 30px;
    padding: 30px;
    border: solid 2px lightgray;
    background-color: whitesmoke;
    border-radius: 10px;
}

.catch3 {
    font-size: 20px;
    padding-top: 30px;
}

.catch4 {
    font-size: 20px;
    padding-top: 50px;
    margin: 0 100px;
    text-align: center;
}

.card3 {
    display: inline-flex;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 19px;
}

.cardtop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card2 {
    margin: 40px 25px 10px 25px;
    text-align: left;
    padding: 20px;
    color: white;
    background-color: rgba(40, 40, 40, 0.6);
    border-radius: 3px;
    border: solid #434343 1px;
    box-shadow: 10px 10px 5px gray;
}

.note1 {
    padding-left: 23px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.fa-star {
    color: yellow;
    font-size: 20px;
    padding-right: 5px;
}

.cardinfo {
    padding: 15px;
    color: black;
    font-size: 20px;
}

.homepics {
    height: 55vh;
}

.difference {
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-bottom: 5vh;
}

#view-services {
    border: black 2px solid;
    margin-top: 20px;
    font-size: 19px;
    color: black;
}

.howtogetstarted {
    background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    color: white;
    padding-bottom: 10vh;
}

.start {
    text-align: center;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.numbers {
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    color: yellow;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 10px;
}

.numbers:hover {
    transform: scale(1.1);
    border: solid 1px yellow;
    border-radius: 10px;
}

.number {
    list-style-type: none;
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 0px 10px 0px 0px;
}

.number1 {
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
}

.bignumbers {
    font-size: 18vh;
    float: left;
    font-weight: bolder;

}

.context-number {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    margin-top: 4.5vh;
    margin-left: 2vw;
}

.bold {
    font-weight: bolder;
}

.info {
    padding-bottom: 10vh;
    padding-top: 5vh;
}
.about{
    padding-top: 20px;
    padding-right: 30%; 
    text-align: center;
}
#name {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#founder {
    color: white;
}

#hr {
    margin-left: 175px;
}

.awc {
    height: 500px;
    width: 325px;
    float: right;
    margin-top: 13vh;
    margin-right: 6%;
    border-radius: 10px;
    border: solid black 2px;

}

.bio {
    margin: 0;
    padding: 0;
   /* display: flex;
   word-wrap: wrap; */
}

#bio {
    text-indent: 30px;
    margin-left: 6.5vw;
    margin-top: 10px;
    width: 55%;
    color: white;
    font-size: 17px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(35, 35, 35, 0.8);
    border: 1px white solid;
}

.onlinelinks {
    display: inline-flex;
    list-style-type: none;
    font-size: 30px;
    width: 50%;
    height: auto;
    margin: 10px 30px 20px 40px;
}

#linkedin {
    padding-left: 30px;
}

#cscs {
    padding-left: 30px;
}

.library {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    padding: 5vh;
    padding-bottom: 10vh;
}

.overview {
    color: white;
    text-align: center;
    margin: 30px 40px 0px 40px;
    font-size: 18px;
}


.books {
    color: white;
    font-size: 18px;
    padding-top: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.l1 {
    padding-top: 20px;
}

#mobility {
    background-image: url("https://plus.unsplash.com/premium_photo-1674421795177-eadfb18a27c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#posture {
    background-image: url("https://images.unsplash.com/photo-1609899517237-77d357b047cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#HIIT {
    background-image: url("https://images.unsplash.com/photo-1620371350502-999e9a7d80a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=370&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#full {
    background-image: url("https://images.unsplash.com/photo-1517963879433-6ad2b056d712?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#online {
    background-image: url("https://images.unsplash.com/photo-1648542036561-e1d66a5ae2b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#running {
    background-image: url("https://plus.unsplash.com/premium_photo-1669021454422-4f74eb6877e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.programs1 {
    margin: 10px 20px 30px;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px blue;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: solid 2px black;
}

.programs1:hover {
    background: transparent;
    color: yellow;
    border: solid 2px yellow;
    transform: scale(1.1);
}

.mobilityflexibility {
    color: white;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
}

#mobilityflexibility1 {
    font-size: 30px;
    padding: 25px 0px 30px 0px;
}

.mfoptions {
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.moreinfo:hover {
    transform: scale(1.03);
}

.return {
    display: flex;
}

#back {
    border-radius: 15px;
    padding: 5px 12px;
}

#back2 {
    border-radius: 15px;
    padding: 5px 12px;
    margin-left: 20px;
    font-size: 18px;
    color: black;
    border: black 1px solid;
}

.mfoptions0 {
    box-shadow: 10px 10px 5px gray;
    border-radius: 5px;
    margin: 25px 15px;
    width: 30vw;
    background-color: #d2fff2;
    justify-content: center;
    height: 110vh;
    color: black;
}

.mfoptions02 {
    border: solid 2px black;
    border-radius: 10px;
    margin: 25px;
    width: 35vw;
    background-color: #c5e8de;
    justify-content: center;
    height: 100vh;
}


.mfoption1,
.mfoption2,
.mfoption3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 25vw;
    height: 20vh;
    margin-top: 0px;
    padding-top: 5vh;
}

.mfoptions12 {
    display: block;
    margin: 0 25px 0 0px;
    padding-top: 35px;
    font-size: 16px;
    text-align: center;
    color: black;
}

.mfoptions1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.blog {
    margin: 0;
    padding: 0 10vw 10vh 10vw;
}

.blog-title {
    color: white;
    text-align: center;
    padding-top: 5vh;
}

.blogposts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 10px 0px 50px 0px;
    background-color: rgb(35, 35, 35, 0.8);
    border-radius: 10px;
    border: 1px yellow solid;
}

.blogpost {
    width: 70vw;
    margin-top: 5vh;
    padding: 2vh;
    /* background-color: lightgray; */
    color: whit3;
    /* border: 2px black solid; */
}

.blogpost:hover {
    transform: scale(1.02);
    /* background-color: white;
    color: black;
    border: 3px yellow solid; */
}

.contact {
    padding-bottom: 10vh;
    color: black;
}

.contactinfo {
    display: flex;
    justify-content: space-between;
    margin: 10vh;
    align-items: center;
}

.form {
    padding: 50px;
    border-radius: 8px;
    background-image: linear-gradient(to left, rgb(192, 252, 235), rgb(255, 217, 0));
    font-weight: normal;
    /* filter: brightness(90%); */
    border: 3px rgb(35, 35, 35) solid;
}


.row {
    margin: 10px;
}

.contactme {
    border-radius: 8px;
    padding: 20px;
    border: 3px rgb(35, 35, 35) solid;
    background-image: linear-gradient(to left, rgb(192, 252, 235), rgb(255, 217, 0));
    border-radius: 5px;
    text-align: center;
}

#formbtn {
    border-radius: 5px;
    background-color: #83bad6;
    width: auto;
    padding: 3px 5px;
    border: black 1px solid;
}
#homequizbtn {
    font-size: 25px;
    border-radius: 5px;
    background-color: #83bad6;
    width: auto;
    padding: 3px 5px;
    border: black 1px solid;
}

.question {
    font-weight: bold;
}

.thanks {
    padding-top: 8px;
}

.contactlist {
    list-style-type: none;
}

#name2 {
    font-size: 17px;
    color: black;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width:30vw;
}
#email{
    width:30vw; 
    font-size: 17px;
}

.program-info-list {
    text-align: left;
    padding-top: 3vh;
}

.program-card {
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.8);
    border: 2px rgb(255, 221, 0) solid;
    width: 50vw;
    padding: 3vh;
    margin: 2.5vh;
    color: black;
}

.program-card2 {
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.8);
    border: 2px rgb(255, 221, 0) solid;
    width: 70vw;
    padding: 5vh;
    margin: 3vh;
    margin-bottom: 8vh;
    color: black;
    display: none;
}

.form-boxes {
    list-style-type: none;
}

.contactforms1 {
    width: 55vw;
    background-image: linear-gradient(to left, rgb(192, 252, 235), rgb(255, 217, 0));
    /* background-color: rgba(164, 164, 164, 0.8); */
    border: black 2px solid;
    border-radius: 10px;
    padding: 20px;
}

.contactforms1 h2 {
    text-align: center;
}

.signup {
    padding: 5vh 20px 20vh 20px;
    display: flex;
    justify-content: center;
    color: black;
}

#signup-title {
    padding-top: 5vh;
    margin: 0 8vw;
    text-align: center;
    color: white;
}

.description {
    margin-top: 5vh;
}

#description {
    margin-top: 8vh;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-box {
    border: 2px gray solid;
    color: white;
    text-shadow: 2px 2px 8px #2b00ff;
    height: 30vh;
    width: 30vw;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    font-size: 20px;
    background-image: url("/Pictures/foamrolling2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(65%);
}

#video-box2 {
    background-image: url("/Pictures/foamrolling1.jpg");
}

#deadlift {
    background-image: url("/Pictures/Deadlift.jpg");
}

#squat {
    background-image: url("/Pictures/Squat.jpg");
}

#hipthrust {
    background-image: url("/Pictures/hipthrust.png");
}

#pullup {
    background-image: url("/Pictures/pullup.jpg");
}

#lunge {
    background-image: url("/Pictures/Lunge.jpg");
}

#chestpress {
    background-image: url("/Pictures/chestpress.jpg");
}

#core {
    background-image: url("/Pictures/core.jpg");
}

#landmine {
    background-color: whitesmoke;
}

#shoulder {
    background-image: url("/Pictures/Shoulder.jpg");
}

.hide {
    display: none;
    color: yellow;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: grayscale(0%);
}

.video-box:hover {
    color: yellow;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: grayscale(0%);
    padding-top: 5vh;
}

.video-box:hover .hide {
    display: block;
}

.hiitTypes {
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.8);
    border: 2px rgb(255, 221, 0) solid;
    color: black;
    height: 600px;
    width: 28vw;
    box-shadow: none;
}

#hiitTypes {
    height: 800px;
}

.hiitoption {
    margin-top: 10vh;
}

#pdfbtn {
    color: black;
}

#return {
    padding-bottom: 10vh;
    text-align: center;
}

.returnbtn {
    background-color: rgb(175, 175, 175, 0.2);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
}

.returnbtn:hover {
    background-color: rgb(175, 175, 175, 0.5);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid white;
}

#formbtn:hover {
    transform: scale(1.05);
    background-color: rgb(178, 207, 221);
}

.quizbtn {
    font-size: 30px;
    border-radius: 5px;
    background-color: #83bad6;
    width: auto;
    padding: 3px 5px;
    border: black 1px solid;
}

.quizbtn:hover {
    transform: scale(1.05);
    background-color: rgb(178, 207, 221);
}

.return-home {
    display: absolute;
    margin-left: -175%;
}

#quizbtns {
    font-size: 18px;
    display: block;
    margin: 10px;
    text-align: left;
}

#start-quiz {
    margin: 18vh;
    padding: 15px;
    font-weight: bolder;
    border: solid 2px black;
}

.question-text {
    font-size: 30px;
}

.final-results {
    display: none;
}

#view-program {
    border: black 2px solid;
}

#view-program:hover {
    border: 2px solid white;
    background-color: rgb(160, 160, 160);
    color: white;
}

.blogs {
    text-align: center;
    margin: 30px;
    margin-bottom: 5vh;
    padding: 30px;
    border: solid 2px lightgray;
    background-color: whitesmoke;
    border-radius: 10px;
}

#blog-date {
    margin-left: 30px;
    text-align: left;
    margin-right: 15px;
}

#blog-post {
    text-align: left;
    text-indent: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#curry {
    width: 20vw;
    border-radius: 50%;
    border: black solid 2px;
}

.balance {
    border-radius: 10%;
    border: black solid 2px;
}

#balance1 {
    width: 20vw;
}

#balance2 {
    width: 15vw;
    position: absolute;
    right: -10vw;
    top: 10vh;

}

.balanceImages {
    position: relative;
    float: right;
    display: flex;
    justify-content: right;
    margin-right: 10vw;
    padding-left: 20px;
}

@media screen and (max-width: 1150px) {
    .navbar {
        display: block;
        width: 185px;
        padding: 0;
        margin: 0;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background-color: rgb(26, 26, 26);
    }
    .nav-item {
        margin: 0;
        padding: 0;
        font-size: 20px;
        display: block;
        width: 200px;
        height: 70px;
    }
    #company{
        padding-top: 20px;
    }
    .footer {
        z-index: 1;
        height: 10vh;
    }
    .logo {
        padding-top: 18px;
        color: white;
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 15px;
        padding-left: 25vw;
    }
    .nav-item2 {
        margin: 0px 20px 0px 0px;
        padding: 0 5px 0px 0px;
        font-size: 15px;
        display: inline-flex;
    }
    .welcome {
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        padding-bottom: 12vh;
    }
    #title {
        margin: 0vh 0vw 0vh 20vw;
        padding-top: 15%;
        font-size: 35px;
        width: 75vw;
    }
    .values {
        margin-left: 20vw;
    }
    .values2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cardinfo {
        font-size: 18px;
    }
    .whatismj {
        padding-left: 15vw;
    }
    .getstarted {
        margin-left: 15vw;
    }
    .catch2 {
        margin-left:215px;
        width: 75vw;
        padding: 30px;
    }
    .howtogetstarted{
        padding-left: 20vw;
    }
    .contactinfo {
        justify-content: space-evenly;
        margin:10vh 4vw 10vh 10vw;
    }
    .mfoptions12{
        padding-top: 25px;
    }
    .mfoptions0{
        width: 35vw;
    }
    .description h2{
        margin-top: 20px;
    }
    .return{
        margin-left: 10px;
    }
    .blog{
        padding-left: 25vw;
    }
    .blogpost {
        width: 60vw;
    } 
    .awc {
        margin-top: 2vh;
        margin-right:0%;
    }
    
    .bio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #bio {
        margin:5vh 6.5vw;
        width: 65vw;
    }
 
    .about{
        padding-top: 20px;
        padding-top: 20px;
        padding-right: 0px; 
        text-align: center;
    }
    .difference2{
        padding-left:18.5vw;
    }
}

@media screen and (max-width: 900px) {
    #title {
        margin: 0vh 0vw 0vh 28vw;
        padding-top: 15%;
        font-size: 35px;
        width: 65vw;
    }
    .values {
        margin-left: 22.5vw;
    }
    .getstarted {
        margin-left: 20vw;
    }
    .whatismj {
        padding-left: 20vw;
    }
    .catch4 {
        width: 60vw;
        margin-left: 11.5vw;
    }
    .catch2 {
        margin-left:28vw;
        width: 65vw;
        padding: 30px;
    }
    .howtogetstarted{
        padding-left: 22vw;
    }
    .contactme{
        display: none;
    }
    .form {
        padding: 20px;
    }
    .contactinfo {
        margin:10vw;
    }
    .description{
        padding-left: 5vw;
    }
    .mfopt{
        display: none;
    }
    .mfoptions0{
        height:40vh;
    }
    .mfoption1{
        font-size: 18px;
    }
    .hiitTypes {
        width: 275px;
        margin-left: 10vw;
    }
    #hiitTypes {
        height: 200px;
    }
    .hiitoption {
        margin-top: 3vh;
    }
    .program-card{
        margin-left: 8vw;
    }
    .video-box {
        height: 25vh;
    }
    .blog{
        padding-left: 30vw;
    }
    .blogpost {
        width: 50vw;
    }
    .difference2{
        padding-left:22vw;
    }
}

@media screen and (max-width: 768px) {
    #title {
        margin: 0vh 0vw 0vh 35vw;
        padding-top: 15%;
        font-size: 30px;
        width: 55vw;
    }
    #company{
        font-size: 27px;
    }
    #override {
        background-image: black;
    }
    .value1 {
        font-size: 17.5px;
    }
    .values {
        margin-left: 26.5vw;
    }
    .whatismj {
        padding-left: 25vw;
    }
    .bold {
        font-size: 22.5px;
    }
    .catch4 {
        font-size: 19px;
        width: 60vw;
        margin-left: 8.5vw;
    }
    .homepics {
        display: none;
    }
    .card {
        margin-right: 10vw;
    }
    .catch2 {
        margin-left:35vw;
        width: 55vw;
        padding: 30px;
    }
    .catch3 {
        font-size: 18px;
    }
    .note1{
        display: none;
    }
    .howtogetstarted{
        padding-left: 25vw;
    }
    .number {
        font-size: 16px;
    }
    
    .number1 {
        font-size: 22px;
    }
    
    .bignumbers {
        font-size: 15vh;
    }
    .moreinfo{
        margin-top:5vh;
    }
    .video-box {
        width: 40vw;
        font-size: 16px;
        height: 25vh;
    }
    .blog{
        padding-left: 35vw;
    }
    .blogpost {
        width: 40vw;
    }
    .difference2{
        padding-left:24vw;
    }
    .balance{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #title {
        margin: 0vh 0vw 0vh 40vw;
        padding-top: 15%;
        font-size: 25px;
        width: 55vw;
    }
    .values {
        display: none;
    }
    .getstarted {
        margin-top: 15vh;
        margin-left: 35vw;
    }
    .welcome {
        height: 70vh;
    }
    .whatismj {
        padding-left: 30vw;
    }
    .bold {
        font-size: 20px;
    }
    .catch4 {
        font-size: 18px;
        width: 50vw;
        margin-left: 11.5vw;
    }
    .homepics {
        display: none;
    }
    .card {
        max-width: 225px;
        min-width: 225px;
        margin-right: 15vw;
    }
    .catch2 {
        margin-left:40vw;
        width: 55vw;
        padding: 30px;
    }
    .cardtop{
        font-size: 15px;
    }
    .howtogetstarted{
        padding-left: 32vw;
    }
    .numbers {
        max-width: 250px;
        padding-left: 10px;
    }
    .library{
        padding-right: 2vw;
    }
    #programinfo{
        padding-left: 5vw;
    }
    .programs1 {
        height: 250px;
        width: 250px;
    }
    .contact{
        padding-left: 36vw;
    }
    #name2{
        font-size: 13px;
        width: 40vw;
    }
    #email{
        font-size: 13px;
        width: 40vw;
    }
    .contactinfo{
        margin-left: 8vw;
    }
    .mfoption1{
        font-size: 16px;
        margin: 0;
        padding:10px;
    }
    .mfoptions0{
        height: 35vh;
    }
    .overview{
        display: none;
    }
    #description{
        display: none;
    }
    .program-info-list img{
        display: none;
    }
   #clipboard{
        max-width: 250px;
        margin-left: 4vw;
    }
    .video-box {
        width: 50vw;
    }
    .blog{
        padding-left: 45vw;

    }
    .blogpost {
        width: 33.5vw;
    }
    #mobilityflexibility1{
        margin-left: 15px;
    }
    .awc{
        width: 265px;
        height: 400px;
    }
    #name{
        font-size: 25px;
    }
    .blog-title{
        font-size: 25px; 
    }
    .difference2{
        padding-left:32vw;
    }
}